<div id="<%= dom_id campaign %>">
  <p>
    <strong>Title:</strong>
    <%= campaign.title %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= campaign.picture %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= campaign.content %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= campaign.total %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= campaign.target %>
  </p>

  <p>
    <strong>Close at:</strong>
    <%= campaign.close_at %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= campaign.time %>
  </p>

</div>
